<%- include("./partials/header") %>

<form action="/cohorts" method="POST">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="logo_url"><b>Logo URL</b></label>
            <input name="logo_url" type="text" class="form-control" id="logo_url">
        </div>
        <br>
        <div class="form-group col-md-6">
            <label for="name"><b>Name</b></label>
            <input name="name" type="text" class="form-control" id="name">
        </div> 
        <br>
        <div class="form-group col-md-6">
            <label for="members"><b>Members</b></label>
            <input name="members" type="text" class="form-control" id="members">
        </div>
    </div>
    <br>
    <button type="submit" class="button1">Submit</button>
</form>

<%- include("./partials/footer") %>
