<%- include("./partials/header") %>

<div class="card" style="width: 18erm;">
      <div class="card-body">
            <h2 class="card-title"><%= team.name %></h2>
            <p class="card-text"><%= team.members %></p>
      </div>  
      <hr class="line">  
      <form>
            <div class="card-body">
                  <div class="form-group col-md-6">
                        <p class="card-title">Method</p>
                        <input type="radio"  id="teamCount" name="assign_by" value="teamCount">
                        <label for="teamCount">Team Count</label><br>
                        <input type="radio"  id="numTeam"  name="assign_by" value="numTeam">
                        <label for="numTeam">Number Per Team</label><br>
                  </div>            
                  <br>
                  <div class="form-group col-md-6">
                        <label for="quantity">Quantity</label>
                        <input name="quantity" type="text" class="form-control text1" id="quantity">
                  </div>
                  <br>
                  <button type="submit" class="button">Assign Teams</button>
            </div>    
            
            <% if ("/cohorts/:assign_by = teamCount")  { %>
                  <% function assignTeam(num) { %> 
                        <% let result = [] %> 
                        <% for (let i = 0; i < num; i++) { %>
                              <% result.push([]) %> 
                        <% } %> 
      
                        <% const randomizedMembers = team.members.sort(() => Math.random() - 0.5) %>
                        <% let currentTeam = 0 %>
                        <% while (randomizedMembers.length) { %>
                              <% const selectedMember = randomizedMembers.pop() %>
                              <% result[currentTeam].push(selectedMember) %> 
                              <% if (currentTeam < num - 1) { %>
                                    <% currentTeam ++ %> 
                              <% } else { %>
                                    <% currentTeam = 0 %> 
                              <% } %>
                        <% } %>  
                        <% for (let j = 0; j < result.length; j++) { %>
                              <% return result[j] %>
                        <% } %>   
                  <% } %> 
            <% } assignTeam("/cohorts/:quantity=") else { %>  
                  <% function assignNumMembers(member) { %> 
                        <% const numTeams = Math.ceil(team.members.length / member) %> 
                        <% const result = [] %>
                        <% for (let i = 0; i < numTeams; i++) { %> 
                              <% result.push([]) %> 
                        <% } %>
                        <% const randomizedMembers = team.sort(() => Math.random() - 0.5) %> 
                        <% let currentTeam = 0 %> 
                  
                        <% while (randomizedMembers.length) { %> 
                              <% const selectedMember = randomizedMembers.pop() %> 
                              <% result[currentTeam].push(selectedMember) %> 
                              <% if (currentTeam < numTeams - 1) { %>
                                    <% currentTeam ++ %> 
                              <% } else { %>
                                    <% currentTeam = 0 %> 
                              <% } %> 
                        <% } %>
                        <% for (let j = 0; j < result.length; j++) { %>
                              <% return result[j] %>
                        <% } %> 
                  <% } %>
                  <% assignNumMembers("/cohorts/:quantity=") %> 
            <% } %> 
      </form>
</div>

<%- include("./partials/footer") %>

