a.nav-link, #username {
      color: white;
      font-weight: bolder;
  }

.img {
      border-radius: 50%;
      width: 40px;
}

.form-control {
      width: 80vw;
}

.line {
      border-top: 1px solid black;
      opacity: 0.1;
}

.b {
      color: white;
      background-color: blue;
}

.b:hover {
      background-color: rgb(71, 72, 151);
}

.button {
      color: blue;
      background-color: white;
      border-color: blue;
}

.button:hover {
      background-color: lightblue ;
}

.button1 {
      color: blue;
      background-color: white;
      border-color: blue;
      margin-left: 75vw;
}

.button1:hover {
      background-color: lightblue ;
}

.button2 {
      color: white;
      background-color: green;
}

.navbar-nav {
      margin-left: auto;
}

.name {
      float:left;
}

